@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer base {
  .input_Default_Style {
    @apply py-[10px] px-5 rounded-full bg-[#F8FAFC] outline-none placeholder:text-[#64686C] 
    w-full text-sm placeholder:text-sm;
  }

  .textbox_state {
    @apply active:ring-2 active:ring-[#3B82F6] 
    focus-within:ring-2 focus-within:ring-[#3B82F6];
  }
}

